/* General styles */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

/* Subtitle container styles */
.subtitle-container {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Subtitle styles */
.subtitle {
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
  font-style: italic;
  margin-bottom: 5px; /* space between the two subtitles */
}

/* Fixed menu */
.menu-fijo {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1E1E1E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Asegura que haya espacio suficiente */
  position: relative;
}

/* Card container styles */
main {
  margin-top: 90px; /* Espacio para el menú fijo */
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  align-items: center;
}

/* Card styles */
.card {
  background-color: #1E1E1E;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.card-content {
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
