
h1 {
  font-weight: lighter;
  text-align: center;
}

h2 {
  color: gray;
  font-size: 10pt;
}

p {
  max-width: 50%;
  text-align: justify;
}
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-image: url("C:\Users\Zaira\OneDrive\Escritorio\TPD1_2425\nike digital2\fondo.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  font-family: Arial, sans-serif;
  line-height: 1.6; 
}

.contenedor {
  width: 80%; 
  margin: 0 auto; 
  max-width: 1200px; 
  padding: 20px; 
  box-sizing: border-box; 
}


.lista-final {
  background-color: black; 
  color: white; 
  padding: 10px; 
  margin: 0; 
  width: 100%; 
  position: relative; 
  left: 0; 
  margin-bottom: 15px; 
}


.lista-primera {
  color: rgb(148, 148, 148); 
  font-size: 8pt;  
  margin-bottom: 10px;
}

